<h1>/r/breathless</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Titel</th>
      <th>Auteur</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let topic of topics$" (click)="showDetails(topic); detailsAreShown = true">
      <td><img src="{{ topic.thumbnail }}" alt="{{ topic.title }}" title="{{ topic.title }}"></td>
      <td>{{ topic.title }}</td>
      <td>{{ topic.author }}</td>
    </tr>
  </tbody>
</table>

<div class="details" [@slideIn]="detailsAreShown" *ngIf="detailsAreShown">
  <h2 class="details--title">{{ activeTopic.title }}</h2>
  <h4 class="details--author">{{ activeTopic.author }}</h4>
  <div class="details--content">
    <img src="{{ activeTopic.thumbnail }}" alt="{{ activeTopic.title }}" title="{{ activeTopic.title }}">
  </div>
  <a class="details--close" (click)="detailsAreShown = false">Sluiten</a>
  <div class="comments">
    <h5>Laat een reactie achter</h5>
  <div>
</div>