<div class="comments-box">
    <button type="submit" (click)="showCommentBox = !showCommentBox" class="btn btn-large btn-block btn-default">Laat een reactie achter</button>
    <hr>
    <div class="comments-box-form" *ngIf="showCommentBox">
        <h3>Reactieformulier</h3>
        <form (ngSubmit)="addComment()" #commentsForm="ngForm">
            <div class="form-group">
                <label for="name">Naam</label>
                <input type="text" class="form-control" id="name"
                    [(ngModel)]="model.name"
                    name="name"
                    required
                    #name="ngModel"
                >
                <div [hidden]="name.valid || name.pristine" 
                    class="alert alert-danger">
                    Naam is verplicht
                </div>
            </div>
            <div class="form-group">
                <label for="comment">Reactie</label>
                <textarea class="form-control" id="comment" cols="30" rows="10"
                    [(ngModel)]="model.comment"
                    name="comment"
                    required
                    #comment="ngModel"
                ></textarea>
                <div [hidden]="comment.valid || comment.pristine" 
                    class="alert alert-danger">
                    Reactie is verplicht
                </div>
            </div>

            <button type="submit" class="btn btn-large btn-block btn-primary" [disabled]="!commentsForm.form.valid">Reageer</button>

        </form>
    </div>
</div>
