.comments-box{
    
    margin-top: 15px;

    .comment-link{
        display: block;
        
        padding-top: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid #e3e3e3;
        border-top: 1px solid #e3e3e3;
    }
}